.not-found-container {
  height: calc(100vh - 70px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-img {
}

.not-found-heading {
  margin: 20px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.not-found-caption {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .not-found-container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .not-found-heading {
    font-size: 35px;
    font-weight: bold;
  }

  .not-found-caption {
    font-size: 20px;
    font-weight: 300;
  }
}
