.search-input {
  color: #727064;
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  width: calc(100% - 70px);
  padding: 5px 10px 5px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-icon-div {
  background-color: #201f20;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.search-icon {
  color: #ffffff;
  font-size: 20px;
  width: 70px;
}
